<%if @order_items%>
  <%= button_to 'Clear Cart', {:controller => "orders", method: :post, :action => 'destroy'}  %>
  <% @order_items.each do |order_item| %>
    <h5><%= order_item.item.title %></h5>
    <h6>Price : <%= order_item.item.price %></h6>
    <h6>Quantity = <%= order_item.quantity %></h6>
    <h6>Subtotal = <%= order_item.quantity * order_item.unit_price %></h6>
    <br>
  <%end%>
  <% sum = @order_items.sum('totalamount') %>
<%end%>
<h4>Total Amount : <%= sum %></h2>

<%= button_to 'Order', {:controller => "cart", :action => "checkout"} %>


