<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">DinnerDash</a>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">

        <li class="nav-item">
          <%= link_to "Items", items_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Categories", home_about_path, class: "nav-link" %>
        </li>

        <% if user_signed_in? %>

          <li class="nav-item">
            <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path,method: :delete, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "My Cart", home_about_path, class: "nav-link" %>
          </li>


          <% if current_user.role == "admin" %>

            <li class="nav-item">
              <%= link_to "Dashboard", home_about_path, class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "Users", users_registrations_index_path, class: "nav-link" %>
            </li>

          <% end %>

        <% else %>

          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>

           <li class="nav-item">
            <%= link_to "My Cart", home_about_path, class: "nav-link" %>
          </li>


        <% end %>


        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search Item " aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>


      </div>

    </div>

  </div>

</nav>
