
<table class="table table-bordered table-striped ">

  <thead>
    <tr>
      <th scope="col">Item ID</th>
      <th scope="col">Item Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Subtotal</th>
    </tr>
  </thead>

  <tbody>
    <%if @order_items %>
      <% @order_items.each do |order_item|  %>
        <%if order_item.quantity > 0 %>
            <tr>
              <td><%= order_item.item.id %> </td>
              <td><%= order_item.item.title %> </td>
              <td><%= order_item.item.price %> </td>
              <td><%= order_item.quantity %> </td>
              <td><%= order_item.quantity * order_item.unit_price %> </td>
            </tr>
        <%end%>
      <% end %>
    <%end%>
  </tbody>
</table>
<h4>Total Amount : <%= @order_items.sum('totalamount') %> </h2>
<h4>Status: <%= @order_items.first.order.status %> </h2>
<h4>Restaurant Name: <%= @order_items.first.item.restaurant.name %> </h2>




