
<% if current_user && current_user&.role != 'customer' %>
  <div>
  <%= link_to "New Restaurant", new_restaurant_path, class: "btn btn-primary" %>
  </div>
  <br><br>
<%end%>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %> </td>
          <td>
            <div>
              <%= link_to "Show Items", restaurant_items_path(restaurant_id: restaurant.id), method: :get, class: 'btn btn-primary' %>
              <% if current_user && current_user.role != 'customer' %>
                <%= link_to "Update Restaurant", restaurant , class: "btn btn-secondary" %>
                <%= link_to "Delete", restaurant , class: "btn btn-danger", method: :delete %>
              <%end%>
            </div>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
