<% if current_user && current_user.role !='customer' %>
  <br>
  <br>
  <div>

    <%= link_to "New Item", new_item_path , class: "btn btn-primary" %>
  </div>
  <br>
  <br>
<%end%>

<div class="d-flex justify-content-between flex-wrap">
  <% if @items %>
    <% @items.each do |item| %>
      <%if (!current_user || current_user.role == 'customer') && item.active == true   %>
        <div class="col">
          <div class="card h-100" style="width: 12em">

          <%if item.image.attached? %>
            <%= image_tag item.image , class: "img-thumbnail", alt: "Image not Found", style: 'width: 200px; display: block'%>
          <%else%>
            <img src="https://images.unsplash.com/photo-1602253057119-44d745d9b860?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGlzaHxlbnwwfHwwfHw%3D&w=1000&q=80" class="img-thumbnail" alt="...">
          <%end%>
            <div class="card-body h-100">
              <h5 class="card-title"><%= item.title%></h5>
              <h6 class="card-title"><%= Restaurant.find(item.restaurant_id).name %></h5>

              <p class="card-text"><%= item.description%></p>

            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price Rs.<%= item.price%> </li>
            </ul>

            <div class="card-body">
              <%= form_for OrderItem.new, url: {controller: 'order_items', action: "create", method: :post}, html: {class: "nifty_form"}  do |i| %>
                <%= i.hidden_field :item_id, value: item.id %>
                <%= i.number_field :quantity, value: 1, min: 1 %>
                <%= i.submit "Add to Cart", class: 'btn  btn-primary' %>
              <%end%>
            </div>
          </div>
        </div>
      <%end%>
      <% if current_user && current_user.role != 'customer' %>
        <div class="col">
          <div class="card h-100" style="width: 12em">
          <%if item.image.attached? %>
            <%= image_tag item.image , class: "img-thumbnail", alt: "Image not Found", style: 'width: 200px; display: block'%>
          <%else%>
            <img src="https://images.unsplash.com/photo-1602253057119-44d745d9b860?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGlzaHxlbnwwfHwwfHw%3D&w=1000&q=80" class="img-thumbnail" alt="...">
          <%end%>
            <div class="card-body h-100">
              <h5 class="card-title"><%= item.title%></h5>
              <h6 class="card-title"><%= Restaurant.find(item.restaurant_id).name %></h5>
              <p class="card-text"><%= item.description%></p>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price Rs.<%= item.price%> </li>
            </ul>

              <div class="col card-body">
                <%= link_to "Show", item , class: "btn btn-dark" %>
                <% if item.active == true %>
                  <%= button_to 'Mark Retire', {:controller => "items", :action => "toggle_status", :id => item.id}, :class => "btn btn-danger"%>
                <%else%>
                  <%= button_to 'Mark Active', {:controller => "items", :action => "toggle_status", :id => item.id}, :class => "btn btn-success"%>
                <%end%>
              </div>
          </div>
        </div>
      <%end%>
    <% end %>
  <%end%>
</div>





