

<%= form_for @item, url: {action: "create"}, html: {class: "form"} do |f| %>
  <div>
    <%= f.label :title, style: "display: block" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, style: "display: block" %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :price, style: "display: block" %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
      <%= f.label :Category%><br>
      <%= f.collection_select :category_ids, Category.all, :id, :name, {include_blank: "select category"},  {:multiple => false} %>
  </div>

  

<br>
  <div>
    <%= f.submit "Create Item", class: "btn btn-primary"  %>
  </div>
<br>
<% end %>




<div>
  <%= link_to "Back to Items", items_path, class: "btn btn-dark" %>
</div>
