
<%= form_for @item, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
  <div>
    <%= f.label :title, style: "display: block" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, style: "display: block" %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :price, style: "display: block" %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
      <%= f.label :Category%><br>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, {include_blank: "select category"},  {:multiple => true} %>
  </div>

      <div class="field">
      <%= f.label :Restaurant %><br>
      <%= f.collection_select :restaurant_id, current_user.role == 'admin' ? current_user.restaurants : Restaurant.all, :id, :name, {include_blank: "select Restaurant"},  {:multiple => false} %>
  </div>

  <br>

  <div>
    <%= f.submit "Update", class: 'btn  btn-primary'%>
  </div>

<% end %>

  <br>

<div>
  <%= link_to "Delete", @item , class: "btn btn-danger", method: :delete %>
</div>
<br>

<div>
  <%= link_to "Back to Items", items_path, class: "btn btn-dark" %>
</div>
